<div class="header">
  <div class="container">
    <%= render :partial => 'layouts/html_header' %>
  </div>
</div>

<div class="song">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= image_tag @song.game.image %>
        <h2><%= @song.name %></h2>
        <audio controls autoplay>
          <source src= <%= @song.audio %> type="audio/mp3">
        </audio>
        <p>from <%= @song.game.name %></p>
      </div>
    </div>
  </div>
</div>