<head>
<%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div class="header">
  <div class="navbar-fixed">
    <%= render :partial => 'layouts/html_header' %>
  </div>
</div>

<div class="games">
  <div class="color-block z-depth-1">
    <div class="center-align">
      <h2>Games</h2>
    </div>
    <div class="container row">
      <div class="col s8 m9">
          <%= form_tag(games_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search Games" %>
          <% end %>
          <% if !@games.present? %>
            <p>There are no games containing the term(s) <%= params[:search] %>.</p>  
          <% end %>
        </div>
        <div class="col s4 m3">
        <div class="row center-align">
            <button class="btn waves-effect waves-light games" type="submit" name="action">
              <strong class="hide-on-small-and-down">Submit</strong>
              <i class="material-icons right">send</i>
             </button>
        </div >
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      
      	<% @games.each do |t| %>
        <div class="col s12 m4 l3">
          <div class="card medium">
            <div class="card-image waves-effect waves-block waves-light">
              <%= link_to image_tag(t.image), game_path(t) %>
            </div>
            <div class="card-content">
              <p><%= t.name %></p>
            </div>
            <!--div class="card-action"-->
              <%= link_to "Songs from this game", game_path(t), { :class=>"card-action waves-effect waves-purple", :style=>"width: 100%;"} %>
            <!--/div-->
          </div>
        </div>
        <% end %>
    </div>
  </div>
</div>