<head>
<%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div class="header">
  <div class="navbar-fixed">
    <%= render :partial => 'layouts/html_header' %>
  </div>
</div>

<div class="categories">
  <div class="container">
    <div class="nav-wrapper">
      <div class="center-align">
        <h2>Discover</h2>
      </div>
      <div class="row">
        <div class="col s8 m9">
          <!--div class="row"-->
            <%= form_tag(categories_path, :method => "get", id: "search-form") do %>

              <%= text_field_tag :search, params[:search], placeholder: "Music similar to..." %>

        </div>
        <div class="col s4 m3">
        	<div class="row center-align">
              <button class="btn waves-effect waves-light" type="submit" name="action">
              	<strong class="hide-on-small-and-down">Submit</strong>
                <i class="material-icons right">send</i>
              </button>
            <% end %>
          </div	>
        </div>
      </div>
      <div class="col s12">    
          <% if !@categories.present? %>
            <p>There are no categories containing the term(s) <%= params[:search] %>.</p>  
          <% end %>
      </div>
        <!--/div-->
    </div>
    <div class="row">
      <% @categories.each do |t| %>
      <div class="col s12 m4 l3">
        <div class="card" >
          <div class="card-image waves-effect waves-block waves-light"> 
            <%= link_to image_tag(t.image), category_path(t) %>
          </div>
          <div class="card-content">
            <p><%= t.name %></p>
          </div>
          <!--div class="card-action"-->
            <%= link_to "More like this", category_path(t), { :class=>"card-action waves-effect waves-purple", :style=>"width: 100%;"} %>
          <!--/div-->
        </div>
      </div>
      <% end %>
      <div class="col s12 m4 l3">
	      <div class = "card">
	      	<%= link_to 'Show all games', 'games#index', { :class=>"card-action waves-effect waves-purple", :style=>"width: 100%;" } %>
	   		</div> 	
      </div>
    </div>
  </div>
</div>